* {
    font-family: Courier;
}

body {
    padding: 100px;
    color: #00FF00;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background.jpg);
    height: 100vh;
    background-attachment: fixed;
}

input[type=submit],
input[type=submit]:link,
input[type=submit]:visited {
    height: 40px;
    font-size: 300;
    border: 3px solid rgba(0, 255, 0, 0.80);
    color: rgba(0, 255, 0, 0.80);
    background-color: rgba(0, 0, 0, 0.80);
    -webkit-transition:background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit]:hover,
input[type=submit]:active {
    border: 3px solid rgba(0, 0, 0, 0.80);
    color: rgba(0, 0, 0, 0.80);
    background-color: rgba(0, 255, 0, 0.80);
}